2html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: lightblue;
  color: whitesmoke;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  width: 300px;
  height: 600px;
  outline: 3px solid white;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-around;
}

div {
  margin: 10px 05%;
  flex: 0 1 60px;
  order: 2;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div:nth-of-type(1) {
  background-color: rgb(226, 132, 132);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(122, 114, 114);
}
div:nth-of-type(2) {
  background-color: rgb(158, 216, 158);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(122, 114, 114);
}
div:nth-of-type(3) {
  background-color: rgb(224, 181, 181);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgb(122, 114, 114);
}
div:nth-of-type(4) {
  background-color: rgb(185, 143, 224);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(122, 114, 114);
}
div:nth-of-type(5) {
  background-color: rgb(127, 127, 224);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(122, 114, 114);
}
div:nth-of-type(6) {
  background-color: rgb(109, 132, 182);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgb(122, 114, 114);
}

div:hover {
  background-color: rgb(175, 128, 128);
  opacity: 0.9;
  transition: 0.5s;
  /* transform: translateX(2px); */
  transform: translate(-1px, -2px);
}
